<a href="https://colab.research.google.com/github/Helen-sew/Data-Analysis-with-Python/blob/main/scraping_with_BS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install bs4 
!pip install lxml 
!pip install html5lib 
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
from bs4 import BeautifulSoup 
import requests 
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data, "html.parser")

In [ ]:
tables = soup.find_all('table')

In [ ]:
len(tables)

26

In [ ]:
for index, table in enumerate(tables):
  if("10 most densely populated countries" in str(table)): 
    table_index = index 
print(table_index)

5

In [ ]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    172,830,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,200
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,730,000
   </td>
   <td>
    41,526
   </td>
   <td>
    427
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,530,000
   </td>
   <td>
    22,072
   </td>
   <td>
    432
   </td>
  </tr>
 </tbody>
</table>

In [ ]:
population_data = pd.DataFrame(columns=["Rank", "Country","Population", "Area","Density"])

for row in tables[table_index].tbody.find_all('tr'): 
  col = row.find_all('td')
  if(col !=[]): 
    rank = col[0].text 
    country = col[1].text 
    population = col[2].text.strip()
    area = col[3].text.strip()
    density = col[4].text.strip()

    population_data = population_data.append({"Rank":rank, "Country":country, "Population":population,'Area':area, "Density":density}, ignore_index=True)
  
population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  172,830,000  143,998   1,200
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,730,000   41,526     427
9   10            Israel    9,530,000   22,072     432

In [ ]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   172830000     143998              1200
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17730000      41526               427
 9    10       Israel     9530000      22072               432]

In [ ]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172830000     143998              1200
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

In [ ]:
url_srx = "https://www.srx.com.sg/new-condo-launch"

In [ ]:
data = requests.get(url_srx).text

In [ ]:
soup = BeautifulSoup(data, "html.parser")

In [ ]:
tables = soup.find_all('table')

In [ ]:
len(tables)

6

In [ ]:
for index, table in enumerate(tables):
  if("Upcoming Launches" in str(table)): 
    table_index = index 
print(table_index)

5

In [ ]:
print(tables[table_index].prettify())

<table class="tbl-content-past-launches">
 <tbody>
  <tr class="projectRow" url="/condo/bartley-vue-91261">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Bartley Vue" type="checkbox" value="91261"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/bartley-vue-91261?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Bartley Vue
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/bartley-vue-91261">
    Jalan Bunga Rampai (D19)
   </td>
   <td class="launchDate toTap" url="/condo/bartley-vue-91261">
    Sep-21
   </td>
   <td class="top toTap" url="/condo/bartley-vue-91261">
    2026
   </td>
   <td class="units toTap" url="/condo/bartley-vue-91261">
    115
   </td>
   <td class="sold toTap" url="/condo/bartley-vue-91261">
    32
   </td>
  </tr>
  <tr class="projectRow" url="/landed/belgravia-ace-lbzz7497">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Belgravia Ace" type="checkbox" value="100061"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/landed/belgravia-ace-lbzz7497?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Belgravia Ace
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/landed/belgravia-ace-lbzz7497">
    Belgravia Drive (D28)
   </td>
   <td class="launchDate toTap" url="/landed/belgravia-ace-lbzz7497">
    Jan-22
   </td>
   <td class="top toTap" url="/landed/belgravia-ace-lbzz7497">
    TBA
   </td>
   <td class="units toTap" url="/landed/belgravia-ace-lbzz7497">
    107
   </td>
   <td class="sold toTap" url="/landed/belgravia-ace-lbzz7497">
    82
   </td>
  </tr>
  <tr class="projectRow" url="/landed/brighthill-residences-lbzz7482">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Brighthill Residences" type="checkbox" value="101011"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/landed/brighthill-residences-lbzz7482?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Brighthill Residences
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/landed/brighthill-residences-lbzz7482">
    Bright Hill Crescent (D20)
   </td>
   <td class="launchDate toTap" url="/landed/brighthill-residences-lbzz7482">
    Jan-22
   </td>
   <td class="top toTap" url="/landed/brighthill-residences-lbzz7482">
    TBA
   </td>
   <td class="units toTap" url="/landed/brighthill-residences-lbzz7482">
    6
   </td>
   <td class="sold toTap" url="/landed/brighthill-residences-lbzz7482">
    5
   </td>
  </tr>
  <tr class="projectRow" url="/condo/canninghill-piers-91461">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Canninghill Piers" type="checkbox" value="91461"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/canninghill-piers-91461?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Canninghill Piers
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/canninghill-piers-91461">
    Clarke Quay (D6)
   </td>
   <td class="launchDate toTap" url="/condo/canninghill-piers-91461">
    Nov-21
   </td>
   <td class="top toTap" url="/condo/canninghill-piers-91461">
    2026
   </td>
   <td class="units toTap" url="/condo/canninghill-piers-91461">
    696
   </td>
   <td class="sold toTap" url="/condo/canninghill-piers-91461">
    610
   </td>
  </tr>
  <tr class="projectRow" url="/condo/ikigai-99971">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Ikigai" type="checkbox" value="99971"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/ikigai-99971?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Ikigai
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/ikigai-99971">
    Shrewsbury Road (D11)
   </td>
   <td class="launchDate toTap" url="/condo/ikigai-99971">
    Jan-22
   </td>
   <td class="top toTap" url="/condo/ikigai-99971">
    2026
   </td>
   <td class="units toTap" url="/condo/ikigai-99971">
    16
   </td>
   <td class="sold toTap" url="/condo/ikigai-99971">
    2
   </td>
  </tr>
  <tr class="projectRow" url="/condo/jervois-mansion-99181">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Jervois Mansion" type="checkbox" value="99181"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/jervois-mansion-99181?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Jervois Mansion
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/jervois-mansion-99181">
    Jervois Close (D10)
   </td>
   <td class="launchDate toTap" url="/condo/jervois-mansion-99181">
    Sep-21
   </td>
   <td class="top toTap" url="/condo/jervois-mansion-99181">
    2026
   </td>
   <td class="units toTap" url="/condo/jervois-mansion-99181">
    130
   </td>
   <td class="sold toTap" url="/condo/jervois-mansion-99181">
    104
   </td>
  </tr>
  <tr class="projectRow" url="/condo/klimt-cairnhill-89681">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Klimt Cairnhill" type="checkbox" value="89681"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/klimt-cairnhill-89681?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Klimt Cairnhill
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/klimt-cairnhill-89681">
    Cairnhill Road (D9)
   </td>
   <td class="launchDate toTap" url="/condo/klimt-cairnhill-89681">
    Aug-21
   </td>
   <td class="top toTap" url="/condo/klimt-cairnhill-89681">
    2025
   </td>
   <td class="units toTap" url="/condo/klimt-cairnhill-89681">
    138
   </td>
   <td class="sold toTap" url="/condo/klimt-cairnhill-89681">
    6
   </td>
  </tr>
  <tr class="projectRow" url="/condo/m-suites-92401">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="M Suites" type="checkbox" value="92401"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/m-suites-92401?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       M Suites
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/m-suites-92401">
    Lorong Melayu (D14)
   </td>
   <td class="launchDate toTap" url="/condo/m-suites-92401">
    Jul-21
   </td>
   <td class="top toTap" url="/condo/m-suites-92401">
    2024
   </td>
   <td class="units toTap" url="/condo/m-suites-92401">
    16
   </td>
   <td class="sold toTap" url="/condo/m-suites-92401">
    13
   </td>
  </tr>
  <tr class="projectRow" url="/condo/mori-99761">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Mori" type="checkbox" value="99761"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/mori-99761?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Mori
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/mori-99761">
    Guillemard Road (D14)
   </td>
   <td class="launchDate toTap" url="/condo/mori-99761">
    Dec-21
   </td>
   <td class="top toTap" url="/condo/mori-99761">
    2026
   </td>
   <td class="units toTap" url="/condo/mori-99761">
    137
   </td>
   <td class="sold toTap" url="/condo/mori-99761">
    96
   </td>
  </tr>
  <tr class="projectRow" url="/condo/north-gaia-100261">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="North Gaia" type="checkbox" value="100261"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/north-gaia-100261?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       North Gaia
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/north-gaia-100261">
    Yishun Close (D27)
   </td>
   <td class="launchDate toTap" url="/condo/north-gaia-100261">
    Apr-22
   </td>
   <td class="top toTap" url="/condo/north-gaia-100261">
    2027
   </td>
   <td class="units toTap" url="/condo/north-gaia-100261">
    616
   </td>
   <td class="sold toTap" url="/condo/north-gaia-100261">
    166
   </td>
  </tr>
  <tr class="projectRow" url="/condo/parc-greenwich-91251">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Parc Greenwich" type="checkbox" value="91251"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/parc-greenwich-91251?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Parc Greenwich
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/parc-greenwich-91251">
    Fernvale Lane (D28)
   </td>
   <td class="launchDate toTap" url="/condo/parc-greenwich-91251">
    Sep-21
   </td>
   <td class="top toTap" url="/condo/parc-greenwich-91251">
    2024
   </td>
   <td class="units toTap" url="/condo/parc-greenwich-91251">
    496
   </td>
   <td class="sold toTap" url="/condo/parc-greenwich-91251">
    491
   </td>
  </tr>
  <tr class="projectRow" url="/condo/pasir-ris-8-90101">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Pasir Ris 8" type="checkbox" value="90101"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/pasir-ris-8-90101?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Pasir Ris 8
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/pasir-ris-8-90101">
    Pasir Ris Drive 8 (D18)
   </td>
   <td class="launchDate toTap" url="/condo/pasir-ris-8-90101">
    Jul-21
   </td>
   <td class="top toTap" url="/condo/pasir-ris-8-90101">
    2026
   </td>
   <td class="units toTap" url="/condo/pasir-ris-8-90101">
    487
   </td>
   <td class="sold toTap" url="/condo/pasir-ris-8-90101">
    435
   </td>
  </tr>
  <tr class="projectRow" url="/condo/perfect-ten-90171">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Perfect Ten" type="checkbox" value="90171"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/perfect-ten-90171?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Perfect Ten
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/perfect-ten-90171">
    Bukit Timah Road (D10)
   </td>
   <td class="launchDate toTap" url="/condo/perfect-ten-90171">
    Dec-21
   </td>
   <td class="top toTap" url="/condo/perfect-ten-90171">
    2025
   </td>
   <td class="units toTap" url="/condo/perfect-ten-90171">
    230
   </td>
   <td class="sold toTap" url="/condo/perfect-ten-90171">
    20
   </td>
  </tr>
  <tr class="projectRow" url="/condo/royal-hallmark-99981">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Royal Hallmark" type="checkbox" value="99981"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/royal-hallmark-99981?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Royal Hallmark
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/royal-hallmark-99981">
    Haig Lane (D15)
   </td>
   <td class="launchDate toTap" url="/condo/royal-hallmark-99981">
    Feb-22
   </td>
   <td class="top toTap" url="/condo/royal-hallmark-99981">
    2025
   </td>
   <td class="units toTap" url="/condo/royal-hallmark-99981">
    32
   </td>
   <td class="sold toTap" url="/condo/royal-hallmark-99981">
    12
   </td>
  </tr>
  <tr class="projectRow" url="/condo/rymden-77-89981">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Rymden 77" type="checkbox" value="89981"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/rymden-77-89981?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Rymden 77
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/rymden-77-89981">
    Lorong H Telok Kurau (D15)
   </td>
   <td class="launchDate toTap" url="/condo/rymden-77-89981">
    Jul-21
   </td>
   <td class="top toTap" url="/condo/rymden-77-89981">
    2022
   </td>
   <td class="units toTap" url="/condo/rymden-77-89981">
    31
   </td>
   <td class="sold toTap" url="/condo/rymden-77-89981">
    19
   </td>
  </tr>
  <tr class="projectRow" url="/landed/the-carrara-lbzz7499">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="THE CARRARA" type="checkbox" value="100191"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/landed/the-carrara-lbzz7499?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       THE CARRARA
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/landed/the-carrara-lbzz7499">
    Mountbatten Road (D15)
   </td>
   <td class="launchDate toTap" url="/landed/the-carrara-lbzz7499">
    Nov-21
   </td>
   <td class="top toTap" url="/landed/the-carrara-lbzz7499">
    TBA
   </td>
   <td class="units toTap" url="/landed/the-carrara-lbzz7499">
    6
   </td>
   <td class="sold toTap" url="/landed/the-carrara-lbzz7499">
    1
   </td>
  </tr>
  <tr class="projectRow" url="/condo/the-commodore-92301">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="The Commodore" type="checkbox" value="92301"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/the-commodore-92301?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       The Commodore
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/the-commodore-92301">
    Canberra Drive (D27)
   </td>
   <td class="launchDate toTap" url="/condo/the-commodore-92301">
    Nov-21
   </td>
   <td class="top toTap" url="/condo/the-commodore-92301">
    2024
   </td>
   <td class="units toTap" url="/condo/the-commodore-92301">
    219
   </td>
   <td class="sold toTap" url="/condo/the-commodore-92301">
    171
   </td>
  </tr>
  <tr class="projectRow" url="/condo/the-watergardens-at-canberra-92291">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="The Watergardens At Canberra" type="checkbox" value="92291"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/the-watergardens-at-canberra-92291?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       The Watergardens At Canberra
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/the-watergardens-at-canberra-92291">
    Canberra Drive (D27)
   </td>
   <td class="launchDate toTap" url="/condo/the-watergardens-at-canberra-92291">
    Aug-21
   </td>
   <td class="top toTap" url="/condo/the-watergardens-at-canberra-92291">
    2026
   </td>
   <td class="units toTap" url="/condo/the-watergardens-at-canberra-92291">
    448
   </td>
   <td class="sold toTap" url="/condo/the-watergardens-at-canberra-92291">
    369
   </td>
  </tr>
  <tr class="projectRow" url="/condo/zyanya-99781">
   <td class="projectName">
    <label class="checkBoxBtn">
     <input class="latestLaunchSelect selectedProject compare-projects" projectname="Zyanya" type="checkbox" value="99781"/>
     <span class="checkmark">
     </span>
    </label>
    <a href="/condo/zyanya-99781?utm_source=srx&amp;utm_medium=newProjects">
     <div>
      <span>
       Zyanya
      </span>
     </div>
    </a>
   </td>
   <td class="location toTap" url="/condo/zyanya-99781">
    Lorong 25a Geylang (D14)
   </td>
   <td class="launchDate toTap" url="/condo/zyanya-99781">
    Dec-21
   </td>
   <td class="top toTap" url="/condo/zyanya-99781">
    2025
   </td>
   <td class="units toTap" url="/condo/zyanya-99781">
    34
   </td>
   <td class="sold toTap" url="/condo/zyanya-99781">
    6
   </td>
  </tr>
 </tbody>
</table>

In [ ]:
new_launch_data = pd.DataFrame(columns=['Project Name', 'Location(District',
                                        'Launch Date', 'Top', 'Total Units'])

for row in tables[table_index].tbody.find_all('tr'): 
  col = row.find_all('td')
  if(col !=[]): 
    project_name = col[0].text.strip()
    location = col[1].text 
    launch_date = col[2].text.strip()
    top = col[3].text.strip()
    total_units = col[4].text 

    new_launch_data = new_launch_data.append({'Project Name': project_name, 'Location(District':location,
                                             'Launch Date': launch_date, 'Top':top, 'Total Units': total_units}, ignore_index=True)
new_launch_data

,Project Name,Location(District,Launch Date,Top,Total Units
0,Bartley Vue,Jalan Bunga Rampai (D19),Sep-21,2026,115
1,Belgravia Ace,Belgravia Drive (D28),Jan-22,TBA,107
2,Brighthill Residences,Bright Hill Crescent (D20),Jan-22,TBA,6
3,Canninghill Piers,Clarke Quay (D6),Nov-21,2026,696
4,Ikigai,Shrewsbury Road (D11),Jan-22,2026,16
5,Jervois Mansion,Jervois Close (D10),Sep-21,2026,130
6,Klimt Cairnhill,Cairnhill Road (D9),Aug-21,2025,138
7,M Suites,Lorong Melayu (D14),Jul-21,2024,16
8,Mori,Guillemard Road (D14),Dec-21,2026,137
9,North Gaia,Yishun Close (D27),Apr-22,2027,616
10,Parc Greenwich,Fernvale Lane (D28),Sep-21,2024,496
11,Pasir Ris 8,Pasir Ris Drive 8 (D18),Jul-21,2026,487
12,Perfect Ten,Bukit Timah Road (D10),Dec-21,2025,230
13,Royal Hallmark,Haig Lane (D15),Feb-22,2025,32
14,Rymden 77,Lorong H Telok Kurau (D15),Jul-21,2022,31
15,THE CARRARA,Mountbatten Road (D15),Nov-21,TBA,6
16,The Commodore,Canberra Drive (D27),Nov-21,2024,219
17,The Watergardens At Canberra,Canberra Drive (D27),Aug-21,2026,448
18,Zyanya,Lorong 25a Geylang (D14),Dec-21,2025,34